apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: applications
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  source:
    # Replace with your Git repository URL
    repoURL: https://github.com/your-org/your-repo.git
    targetRevision: HEAD
    path: aws/example-eks-argocd/manifests/argocd-apps
    directory:
      recurse: false
      exclude: app-of-apps.yaml
  destination:
    server: https://kubernetes.default.svc
    namespace: argocd
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
